/* global */ 

body{
    font-family: noto serif georgian;
    color: #313741;
    margin: 0;
    background-color: #F8F1EA;
    width: 100%;
}
li{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}

.about-us-wrapper{
    min-height: 800px;
    width: 100%;
    background-image: url(images/ornaments/ორნამენტები-01.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size:contain;
}
.about-us-section{
    padding-top: 60px;
}
.about-us-section>h3{
    margin-bottom: 50px;
}
.first-section-first-p{
    max-width: 600px;
    margin-bottom: 50px;
}
.first-section-second-p{
    max-width: 1000px;
    margin-bottom: 40px;
}
.image-div{
    width: 85%;
    height: 400px;
    background-image: url(images/gallery/5.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-top: 90px;
    border: solid 2px #313741;
}
.about-us-section-2>h3{
    margin-bottom: 50px;
}
.about-us-wrapper-2{
    min-height: 800px;
    width: 100%;
    background-image: url(images/ornaments/image\ \(1\).png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:contain;
}

@media(max-width:991px){
    .image-div{
        width: 100%;
    }
}